html,
body {
    background-color: #f5f5f5;
    box-sizing: border-box;
    color: #333;
    fill: #333;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: 400;
    margin: 0;
    overflow-x: hidden;
}


h1 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 8px;
    text-align: center;
}

h2, h4 {
    margin: 0 0 8px 0;
}

#author {
    font-weight: 300;
    text-align: center;
}

hr {
    background: #c9c9c9;
    border: none;
    height: 1px;
}

img {
    max-width: 100%;
}

.container {
    margin: auto;
}

button,
.button {
    background-color: #43A047;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 16px;
    max-width: 250px;
    outline: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    margin-top: 12px;
}

input[type="file"] {
    font-style: inherit !important;
    font-size: 16px !important;
}

input[type="text"] {
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    font-size: 16px;
    font-style: inherit;
    max-width: 42px;
    height: 24px;
    margin: 2px;
}
@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}

@media (min-width: 991px) {
    .container {
        max-width: 970px;
    }
}

.upload, .picture, .vector {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 32px;
    margin-top: 32px;
    margin-bottom: 32px;
    overflow: hidden; 
}

.before {
    width: 50%;
    float: left;
}

.after {
    width: 50%;
    float: right;
}

.warning {
    color: #ef5357;
    margin: 8px 0px;
}