<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>

  <link href='/css/site.css' rel='stylesheet' type='text/css' />
</head>
<body>

<section class='container'>
<h1>cp467</h1>
    <form action="{{ url_for('upload') }}" method=post enctype=multipart/form-data>
      <p><input type=file name=file>
         <input type=submit value=Upload>
    </form>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


{% if filename %}
  <h1>Before:</h1>
  <div>{{ filename }}</div>
  <img src='../static/img/{{ filename }}'>
  
  <!--Filter-->
  <form action="{{ url_for('filter') }}" method=post>
    <input type=text name=k0></input>
    <input type=text name=k1></input>
    <input type=text name=k2></input><br>
    <input type=text name=k3></input>
    <input type=text name=k4></input>
    <input type=text name=k5></input><br>
    <input type=text name=k6></input>
    <input type=text name=k7></input>
    <input type=text name=k8></input><br>
    <input type=hidden name=filename value="{{filename}}"></input>
    <button type="submit" value="apply">Apply Filter</button>
  </form>

  <!--Thinning-->
  <form action="{{ url_for('thinning') }}" method=post>
    <input type=hidden name=filename value="{{filename}}"></input>
    <button type="submit" value="apply">Apply ZS Thinning</button>
  </form>

  <!--Vector Img-->
  <form action="{{ url_for('vector') }}" method=post>
    <input type=hidden name=filename value="{{filename}}"></input>
    <button type="submit" value="apply">Get Vector for this Image</button>
  </form>
 {% endif %}

{% if new_file %}
  <h1>After:</h1>
  <div>{{ new_file }}</div>
  <img src='../static/img/{{ new_file }}'>
{% endif %}

{% if vector %}
  <h1>Vector for this Image:</h1>
  <div>{{ vector }}</div>
{% endif %}
</section>
</body>
</html>
