<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>CP467</title>

    <link rel="stylesheet" type="text/css" media="all"
          href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <link href="{{ url_for('static', filename='css/site.css') }}" rel='stylesheet' type='text/css'/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel='stylesheet' type='text/css'/>
</head>

<body>
<div class='container'>
    <h1>CP467 Image Processing Final Project</h1>
    <h4 id="author">Authors: Chunxiao Li and Don Miguel</h4>

    <div class="about">
        <h3>About this Project</h3>
        <p>A web-based application is introduced to recognize and analyze handwritten digits and to perform various image manipulations (filters and thinning). The system used is statistical methods such as Zoning and Histogram. The system crops the image such that only the significant part of the image is obtained and essentially discarding unneeded whitespace to reduce processing time.</p>
        <p> There are two different databases that are used to store feature vectors obtained from Zoning and Histogram methods. A sample of twenty images are tested against these methods and we found that Zoning method recognized our inputs correctly 95% of the time on average and Histogram method recognized them 77% of the time on average. </p>
    </div>

    <div class="upload">
        <h3>Start</h3>
        <p>Upload a bmp file or load a default image</p>

        <div class="before">
            <form action="{{ url_for('upload') }}" method=post enctype=multipart/form-data>
                <input type="file" name="file" class="select-file">
                <br>
                <button type="submit" class="suggested-action" value="Upload" style="width: 98px">Upload</button>
            </form>
            {% with messages = get_flashed_messages() %}
                {% if messages and "File" in messages[-1] %}
                    <div class="warning">{{ messages[-1] }}</div>
                {% endif %}
            {% endwith %}
        </div>

        <div class="after">
            <form action="{{ url_for('load') }}" method=post>
                <button name="load" type="submit" class="suggested-action" value="8bit" style="width: 180px; margin-top: 39px">Load (8bit depth)</button>
                <button name="load" type="submit" class="suggested-action" value="1bit" style="width: 180px; margin-top: 39px">Load (1bit depth)</button>
            </form>
        </div>
    </div>

    {% if filename %}
        <div class="picture">
            <div class="before">
                <h2>Before:</h2>

                <div>{{ filename }}</div>
                <img src='../static/img/{{ filename }}'>
                {% with messages = get_flashed_messages() %}
                {% if messages and "depth" in messages[-1] %}
                    <div class="warning">{{ messages[-1] }}</div>
                {% endif %}
            {% endwith %}
            </div>
            {% if new_file %}
                <div class="after">
                    <h2>After:</h2>

                    <div>{{ new_file }}</div>
                    <img src='../static/img/{{ new_file }}'>
                </div>
            {% endif %}

            {% if returned %}
                <div class="after">
                    <h2>The number is:</h2>

                    <div>{{ number }}</div>
                </div>
            {% endif %}

            {% if img_vector %}
                <div class="after">
                    <h2>Vector for this Image:</h2>

                    <div>{{ img_vector }}</div>
                </div>
            {% endif %}
        </div>
        <!--Filter-->
        <div class="form-container">
            <div class="row">
                <h4>Enter <a href="https://en.wikipedia.org/wiki/Kernel_(image_processing)">Kernel:
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                </a></h4>
                {% with messages = get_flashed_messages() %}
                    {% if messages and "kernel" in messages[-1] %}
                        <div class="warning">{{ messages[-1] }}</div>
                    {% endif %}
                {% endwith %}
                <form action="{{ url_for('filter') }}" method=post style="display: inline-block">
                    <input type=text name=k0>
                    <input type=text name=k1>
                    <input type=text name=k2><br>
                    <input type=text name=k3>
                    <input type=text name=k4>
                    <input type=text name=k5><br>
                    <input type=text name=k6>
                    <input type=text name=k7>
                    <input type=text name=k8><br>
                    <input type=hidden name=filename value="{{ filename }}">
                    <button type="submit" value="apply" style="width: 120px">Apply Filter</button>
                </form>
            </div>

            <div class="row row-2">
                <!--Thinning-->
                <form action="{{ url_for('thinning') }}" method=post style="display: inline-block">
                    <input type=hidden name=filename value="{{ filename }}">
                    <button type="submit" value="apply">Apply ZS Thinning</button>
                </form>

                <!--Vector Histogram-->
                <form action="{{ url_for('histogram') }}" method=post>
                    <input type=hidden name=filename value="{{ filename }}">
                    <button type="submit" value="apply">Get Vector (Histogram)</button>
                </form>

                <!--Vector Zoning-->
                <form action="{{ url_for('zoning') }}" method=post>
                    <input type=hidden name=filename value="{{ filename }}">
                    <button type="submit" value="apply">Get Vector (Zoning)</button>
                </form>
            </div>

            <div class="row">
                <!--Symbol Recognition-->
                <form action="{{ url_for('recognize_hist') }}" method=post>
                    <input type=hidden name=filename value="{{ filename }}">
                    <button type="submit" value="apply">What number is this? Histogram</button>
                </form>

                <form action="{{ url_for('recognize_zone') }}" method=post>
                    <input type=hidden name=filename value="{{ filename }}">
                    <button type="submit" value="apply">What number is this? Zoning</button>
                </form>
            </div>
        </div>



    {% endif %}


</div>
</body>
</html>
